{%extends 'root.html'%}

{%block content%}
<form action="/posts/{{post.id}}/edit" method="POST">
	<h1>Hi, {{post.user.first_name}}, what would you like to post?</h1>
	<label for="blog-title">Title</label>
	<br>
	<input type="text" id="blog-title" name="blog-title" value="{{post.title}}">
	<br>
	<label for="blog-content">Content</label>
	<br>
	<textarea id="blog-content" name="blog-content" rows="10" cols="50">{{post.content}}</textarea>
	<hr>
	{%for tag in tags%}
	{%if tag in selected_tags%}
	<p>
		<input id="tag-id" name="tag-id[]" type="checkbox" value="{{tag.id}}" checked>
		<label for="tag-id">{{tag.name}}</label>
	</p>
	{%else%}
	<p>
		<input id="tag-id" name="tag-id[]" type="checkbox" value="{{tag.id}}">
		<label for="tag-id">{{tag.name}}</label>
	</p>
	{%endif%}
	{%endfor%}
	<br>
	<button>Submit</button>
</form>
<br>
{%endblock%}
